<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Videoclub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button detail (click)="verPaginaDetalle(1)">
      <ion-thumbnail slot="start">
        <ion-img src="assets/posters/el_padrino.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>El padrino</h2>
        <p><strong>Director:</strong> Francis Ford Coppola</p>
        <p><strong>Año:</strong> 1972</p>
      </ion-label>
    </ion-item>
    <ion-item button detail [routerLink]="['/detalle']">
      <ion-thumbnail slot="start">
        <ion-img src="assets/posters/el_padrino_2.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>El padrino. Parte II</h2>
        <p><strong>Director:</strong> Francis Ford Coppola</p>
        <p><strong>Año:</strong> 1974</p>
      </ion-label>
    </ion-item>
    <ion-item button detail [routerLink]="['/detalle']">
      <ion-thumbnail slot="start">
        <ion-img src="assets/posters/la_lista_de_schindler.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>La lista de Schindler</h2>
        <p><strong>Director:</strong> Steven Spielberg</p>
        <p><strong>Año:</strong> 1993</p>
      </ion-label>
      <!-- <ion-button fill="clear" slot="end">View</ion-button> -->
    </ion-item>
    <ion-item button detail [routerLink]="['/detalle']">
      <ion-thumbnail slot="start">
        <ion-img src="assets/posters/pulp_fiction.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Pulp fiction</h2>
        <p><strong>Director:</strong> Quentin Tarantino</p>
        <p><strong>Año:</strong> 1994</p>
      </ion-label>
    </ion-item>
    <ion-item button detail [routerLink]="['/detalle']">
      <ion-thumbnail slot="start">
        <ion-img src="assets/posters/cadena_perpetua.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Cadena perpetua</h2>
        <p><strong>Director:</strong> Frank Darabont</p>
        <p><strong>Año:</strong> 1994</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
