<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Videoclub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="listaPeliculas">
    <ion-item *ngFor="let pelicula of listaPeliculas; index as id" (click)="verPaginaDetalle(id)" detail>
      <ion-thumbnail slot="start">
        <ion-img src="../assets/posters/{{pelicula.poster}}" alt={{pelicula.title}}></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{pelicula.title}}</h2>
        <p><strong>Director:</strong> {{pelicula.director}}</p>
        <p><strong>Año:</strong> {{pelicula.year}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>