<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Autora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aplicación desarrollada por Gemma Sellés. A continuación puede consultar más información sobre la autora.
    </ion-card-content>
    <ion-item button [routerLink]="['/portfolio']">
      <ion-icon aria-hidden="true" name="book-outline" slot="start"></ion-icon> <!-- aria- for the accesibility -->
      <ion-label>Portfolio</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="mail" slot="start"></ion-icon>
      <ion-label><strong>Correo: </strong><a href="mailto:email@email.com">email@email.com</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-twitter" slot="start"></ion-icon>
      <ion-label><strong>Twitter: </strong> <a href="https://x.com">@twitter</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="call" slot="start"></ion-icon>
      <ion-label><strong>Telefono: </strong> <a href="tel:999888777">999888777</a></ion-label>
    </ion-item>
  </ion-card>
</ion-content>
