<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{pelicula?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngIf="pelicula">
    <ion-img [src]="pelicula.poster" alt="{{pelicula.title}}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{pelicula.director}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Año: {{pelicula.year}}</p>
      <p>Sinopsis: {{pelicula.synopsis}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
