<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- TODO: Posar datos -->
  <ion-list>
    <ion-item>
      <ion-label>
        <h1><strong>Título trabajo</strong></h1>
        <ion-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas in ad fuga cumque animi iusto facilis non et nisi dolores.</ion-text>
        <p>Fecha</p>
        <p>Repositorio</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1><strong>Título trabajo</strong></h1>
        <ion-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas in ad fuga cumque animi iusto facilis non et nisi dolores.</ion-text>
        <p>Fecha</p>
        <p>Repositorio</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1><strong>Título trabajo</strong></h1>
        <ion-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas in ad fuga cumque animi iusto facilis non et nisi dolores.</ion-text>
        <p>Fecha</p>
        <p>Repositorio</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1><strong>Título trabajo</strong></h1>
        <ion-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas in ad fuga cumque animi iusto facilis non et nisi dolores.</ion-text>
        <p>Fecha</p>
        <p>Repositorio</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
