<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- TODO: Posar datos -->
  <ion-list *ngIf="listaTrabajos">
    <ion-item *ngFor="let trabajo of listaTrabajos">
      <ion-label class="ion-text-wrap">
        <h1><strong>{{trabajo.titulo}}</strong></h1>
        <ion-text>{{trabajo.desc}}</ion-text>
        <p>{{trabajo.fecha}}</p>
        <p *ngIf="trabajo.enlace">{{trabajo.enlace}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
